#helpWindowContainer {
    -fx-background-color: #ffdab9;
}

#commandScrollPane {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-color: transparent transparent linear-gradient(to right, -pl-separator-light, -pl-separator-dark) transparent;
    -fx-border-width: 0 0 1 0;
}

#commandScrollPane > .viewport, #accordionContainer {
    -fx-background-color: #ffdab9;
}

#helpMessageContainer {
    -fx-border-color: linear-gradient(to right, -pl-separator-light, -pl-separator-dark);
    -fx-border-width: 1 0 0 0;
}

#helpMessage {
    -fx-text-fill: #3c2f2f;
}

.command-pane {
    -fx-focus-color: transparent;
}
.command-pane > .title {
    -fx-background-color: #f0b88a;
    -fx-font-family: "Comfortaa";
    -fx-font-size: 13px;
}

.command-pane > .title > .text, .command-content-label {
    -fx-fill: #3c2f2f;
}

.command-content-label {
    -fx-font-family: "Comfortaa";
    -fx-font-size: 12px;
    -fx-text-fill: #3c2f2f;
}
